@import url(main.css);

header{
    color: white;
}

footer{
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(27, 50, 88);
}




form h2 {
    color: #ffffff;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #ffffff;
}

input[type="text"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
}

input[type="file"] {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 4px;
    font-size: 1rem;
}

input[type="text"]:focus,
input[type="password"]:focus,
select:focus{
    border-color: #66afe9;
    outline: none;
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}

button {
    width: 100%;
    padding: 10px;
    background-color: #FF0F7B;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.signup-link {
    margin-top: 2%;
    text-align: center;
}

.signup-link a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}

.signup-link a:hover {
    color: #0056b3;
}

.nuevo{
    padding-bottom: 15%;
    min-height: 90vh;
}
.nuevo .imagen{
    width: 100%;
    text-align: end;
}
.nuevo img{
    height: 100px;
}