@import url(main.css);

header .logo{
    width: 40%;
}
header .logo img{
    height: 50px;
}
header .navegacion{
    width: 60%;
    display: flex;
    align-items: center;
}
header .navegacion a{
    padding: 2%;
    text-decoration: none;
}



.title{
    color: #fff;
    font-size: 1rem;
}

.login{
    display: flex;
}

form h2 {
    color: #ffffff;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #ffffff;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #66afe9;
    outline: none;
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}

button {
    width: 100%;
    padding: 10px;
    background-color: #FF0F7B;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}


.signup-link {
    margin-top: 2%;
    text-align: center;
}

.signup-link a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}

.signup-link a:hover {
    color: #0056b3;
}

footer{
    background-color: #0056b3;
    color: rgb(255, 255, 255);
    display: block;
    text-align: center;


}
footer .fines{
    padding: 5%;

}

footer a{
    color: rgb(255, 255, 255);
}