@import url(main.css);


header{
    color: white;
}
.coleccion{
    display: block;

    margin-bottom:12%;

    min-height: 90vh;
    max-height: 100%;
}
.coleccion .linea table{
    width: 100%;
    
}
.coleccion .linea td{
    border-bottom: 2px solid #ffffff;
    border-top: 2px solid #ffffff;
    padding: 2% 0%;
}
.coleccion .linea img{
    height: 150px;
}

footer{
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #000123;
}
