<footer>
    <div class="navegacion">
        <a href="/principal"><i class="fa-solid fa-house"></i></a>
        <a href="/agregar"><i class="fa-solid fa-circle-plus"></i></a>
        <a href="/perfil"><i class="fa-solid fa-circle-user"></i></a>
    </div>
</footer>