<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Colection</title>
    <link rel="shortcut icon" href="/images/logos/logo.png"" type="image/x-icon">


    <link rel="stylesheet" href="/css/acercaDe.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

</head>
<body>
    
    <header>

        <div class="logo">
            <img src="/images/logos/logo.png" alt="">
        </div>

        <div class="navegacion">
            <a href="/">Inicio</a>
            <a href="/acercaDe">Acerca de</a>
        </div>
    </header>


    <main>
        
        <section class="title">
            <h1>Te agradecemos que nos visites</h1>
            <p>NUESTRO PROPOSITO</p>
            <p>La idea este sitio nacio desde mi posicion de coleccionista, durante un año estuve coleccionando y para mostrar mis piezas a amigos tenia que dar fotos donde no se 
                apreciaba con claridad todos los carritos que tenia, aparte de que era incomodo mostrar mi cuarto ya que tengo mis autos colgados en la pared
            </p>
            <p>Siempre tuve la duda de si existia un lugar donde pudiera guardar mi coleccion en mi telefono y que las personas puedan acceder a verla o yo mismo mostrarla 
                como si fuera mi perfil de coleccionista
            </p>
            <p>De ahí nació CarColection</p>
        </section>

        <section class="title">
            <h1>CarColection en el futuro</h1>
            <p>Entendemos que nuestro sitio actualemnete no se aducua el 100% de los gustos de los usuarios, por lo que nos encontramos realizando actualizaciones
                constantemente y tomando nota de sus opiniones para poder ser sus preferidos
            </p>
        </section>


    </main>

    <footer>
        <div class="fines">
            <p>BY EDWIN SOLORZANO</p>
            <p><a href=""></a>edwin_solc</p>
        </div>
    </footer>

    
</body>
</html>